asgiref==3.6.0
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.2.1
facebook-sdk==3.1.0
google-auth==2.22.0
idna==3.4
mysqlclient==2.1.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pytz==2023.3
requests==2.31.0
rsa==4.9
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==1.26.16
