{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}
<section class="agregarComentarios">
  <div class="agregarComentarioHeader">
    <h1>Agregar Comentario</h1>
    <span>Cuentanos tu opinión sobre nuestro sitio.</span>
  </div>
  <!-- Formulario para agregar comentarios -->
  <div class="agregarComentarioContenedor">
    <form class="needs-validation" action="/agregarComentario/" method="POST" enctype="multipart/form-data" onsubmit="return validarComentario();">
      {% csrf_token %}
      <div class="">
        <div class="col">
          <div class="">
            <label for="txtNombre" class="form-label">Nombre</label>
            <div class="input-group has-validation">

              <input type="text" class="form-control" id="txtNombre" name="txtNombre"
                aria-describedby="inputGroupPrepend" required disabled value="@{{ form.initial.txtNombre }}">

              <div class="invalid-feedback">
                Porfavor ingrese un nombre.
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col">
          <div class="col">
            <label for="txtComentario" class="form-label">Comentario: </label>
            <textarea type="text" class="form-control" id="txtComentario" name="txtComentario" cols="35" rows="10"
              required></textarea>
            <div class="invalid-feedback">
              Porfavor ingresar un comentario valido.
            </div>
          </div>
        </div>
        <br>
        <div>
          <input type="hidden" id="txtRuta" name="txtRuta" value="">

        </div>
        <div class="text-center">
          <label for="">¡Calificanos!</label>
        </div>
        <div class="reseñas text-center">
          <div class="reseñas text-center">
            <span class="fa fa-heart heart" data-value="1"></span>
            <span class="fa fa-heart heart" data-value="2"></span>
            <span class="fa fa-heart heart" data-value="3"></span>
            <span class="fa fa-heart heart" data-value="4"></span>
            <span class="fa fa-heart heart" data-value="5"></span>
          </div>

          <input type="hidden" id="txtValoracion" name="txtValoracion" value="0">
        </div>
      </div>
      <br>
      <div class="col-12 d-flex justify-content-center">
        <button class="btn btn-inicio" id="btnEnviar" type="submit">Enviar Comentario</button>
        <a href="#"><button class="btn btn-inicio space-between ml-2" id="btnRegresar" name="regresar"
            onclick="disableValidation()">Regresar</button></a>
      </div>
    </form>
  </div>
</section>
<br>
<script>
  function disableValidation() {
    var inputs = document.querySelectorAll('.needs-validation textarea');
    inputs.forEach(function (input) {
      input.removeAttribute('required');
    });
  }
</script>
<script>
 // Recupera el valor de txtRuta desde el localStorage
var rutaSeleccionada = localStorage.getItem('rutaSeleccionada');

// Verifica si se encontró un valor en el localStorage
if (rutaSeleccionada !== null) {
  // Establece el valor en el campo de formulario txtRuta
  document.getElementById('txtRuta').value = rutaSeleccionada;

  // Luego de establecerlo en el campo, elimina el valor del localStorage
  localStorage.removeItem('rutaSeleccionada');
}
</script>
<script>
  function validarComentario() {
    // Obten el valor del comentario ingresado
    var comentario = document.getElementById('txtComentario').value;
  
    // Verifica si la longitud del comentario excede 500 caracteres
    if (comentario.length > 500) {
      // Muestra un SweetAlert con un mensaje de error
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: '¡El Comentario es Demasiado Extenso!.',
      });
  
      // Evita que el formulario se envíe
      return false;
    }
  
    // Si la validación pasa, permite que el formulario se envíe
    return true;
  }
  
</script>


{% endblock %}
{% block pie_pagina %}
{% include "pie_pagina.html" %}
{% endblock %}