{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}

{% comment %} <section class="testimonios">
  <div class="testimonios_header">
    <h2>Comentarios existentes</h2>
    <br>
  </div>
  <!-- Testimonios contenedor -->
  <div class="testimonios_contenedor">
    <!-- CAJA 1 -->
    {% for comentario in comentarios %}
    <div class="testimonios_caja" data-valoracion="{{ comentario.comValoracion }}">
      <div class="caja-top">
        <div class="perfil">
          <!-- Nombre y Usuario -->
          <div class="name-user">
            <strong>{{ comentario.comUsuario.usuNombre }}</strong>
          </div>
        </div>
        <!-- Reseñas -->
        <div class="reseñas">
          <!-- Corazones se agregarán dinámicamente con jQuery -->
        </div>
      </div>
      <!-- Comentarios -->
      <div class="comentarios_clientes">
        <p>{{ comentario.comDescripcion }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <br>
  <form action="/agregarComentario/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" id="btnComentar" onclick="redirigir()" class="btn btn-custom">Agregar Comentario</button>
  </form>
</section>
<script>
  $(document).ready(function () {
    $('.testimonios_caja').each(function () {
      const valoracion = $(this).data('valoracion');
      const reseñasContainer = $(this).find('.reseñas');

      for (let i = 1; i <= 5; i++) {
        if (i <= valoracion) {
          reseñasContainer.append('<i class="fa fa-heart hearto"></i>');
        } else {
          reseñasContainer.append('<i class="fa fa-heart hearti"></i>');
        }
      }
    });
  });
</script>

<br> {% endcomment %}
{% endblock %}
{% block pie_pagina %}
{% include "pie_pagina.html" %}
{% endblock %}