.star {
  font-size: 32px;
  margin-top: 15px;
  color: #bbb;
  transition: color 0.3s;
  cursor: pointer;
}

.starti {
  font-size: 25px;
  color: #bbb;
}

.starto {
  font-size: 25px;
  color: #FFCC00;
}

.star.selected,
.star:hover {
  color: #FFCC00;
  /* Cambia el color cuando está seleccionado */
}