/* CSS DE VARGAS */
/* CSS DE VARGAS */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

#map { 
    height: 500px;
}

.custom-line [stroke] {
    stroke: green !important;
  }

.btn-opuesto{
    background-color: #EBA487;
    color : #151515;
}

.btn-custom {
    background-color: #87CEEB; /* Color rojo personalizado */
    /* Otras propiedades de estilo opcionales */
    color : #151515;/* Color de texto */
    /* ... */
  }
label{
   color: #151515;
}
input{
    color: #151515;
}
#map {
    cursor: crosshair;
  }

/* CSS DE CASTAÑEDA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonios_header {
    margin: 50px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonios_header h2 {
    font-size: 2, 9rem;
    font-weight: 500;
    background-color: #87CEEB;
    color: #151515;
    padding: 10px 20px;
    border-radius: 100px;
}

.testimonios_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonios_caja {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.perfil-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.perfil-img img {
    width: 100%;
    height: 100%;
    object-fit: center;
}

.perfil {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.3rem;

}

.reseñas {
    color: #00A99D;

}

.caja-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comentarios_clientes p {
    color: #4b4b4b;
}

.agregarComentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.agregarComentarioHeader {
    margin: 50px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agregarComentarioHeader h1 {
    font-size: 2, 9rem;
    font-weight: 500;
    background-color: #87CEEB;
    color: #151515;
    padding: 10px 20px;
    border-radius: 100px;
}

.agregarComentarioContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}



::selection {
    color: white;
    background-color: #252525;
}

/* Ninguna de las imagenes son de mi propiedad, a continuación están los links de los autores

Imágenes en Unsplash: https://unsplash.com/@xps
Logo Dell: https://worldvectorlogo.com/logo/dell-1

*/

/* CSS DE CATAÑO */

:root {
    --dark: #ECEFF1;
    --dark-x: #F5F5E8;
    --light: #151515;

    ::placeholder {
        color: black;
    }
}

body{
    background-color: #ECEFF1;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.text-light {
    color: var(--light) !important
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-dark-x {
    background-color: var(--dark-x);
}

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}

.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

.img-2 {
    background-image: url('../img/AutobuseseKool.jpg');
    background-size: cover;
    background-position: center;
}

.img-1 {
    background-image: url('../img/Coomotor.jpg');
    background-size: cover;
    background-position: center;
}

.img-3 {
    background-image: url('../img/Flotahuila.jpg');
    background-size: cover;
    background-position: center;
}

.img-4 {
    background-image: url('../img/Cootranshuila.jpg');
    background-size: cover;
    background-position: center;
}

.img-5 {
    background-image: url('../img/Cootransneiva.jpg');
    background-size: cover;
    background-position: center;
}

.logoMenu {
    width: 25%;
}

.logo {
    width: 50%;
}

.logo1 {
    width: 20%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -130px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 1rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #333;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-info {
    margin-bottom: 10px;
}

.user-info span {
    font-weight: bold;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

@media screen and (max-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-brand {
      margin-left: 20px;
    }
  
    .navbar-toggler {
      margin-right: 20px;
    }
  
    .navbar-collapse {
      position: absolute;
      top: 56px;
      right: 0;
      background-color: #87CEEB;
      width: 100%;
      transform: translateX(100%);
      transition: transform .5s ease-in-out;
    }
  
    .navbar-collapse.show {
      transform: translateX(0);
    }
  
    .navbar-nav {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .nav-item {
      width: 100%;
      text-align: center;
    }
  }
  

/* CSS DE ARIADNA */

.imagen {
    width: 80%;
    height: 400px;
    margin-top: 20px;
}


.circulo {
    background-color: #52a900;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.clasexd {
    max-width: 800px; /* Ajusta este valor según tus preferencias */
    
}

@media (max-width: 767px) {
    .clasexd {
        margin-top: 40px;
        max-width: 100%;
    }
}


@media (min-width: 768px) {
    .clasexd {
        margin-left: 60px;
        max-width: 70%;
       
    }
}
/*CAROUSEL*/
.carousel-img {
    width: 50%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .carousel-img {
        width: 35%;
    }
}


.tituloCarousel {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 70px;
    font-family: 'Exo 2', sans-serif;
}

@media only screen and (max-width: 767px) {
    .tituloCarousel {
        font-size: 25px;
    }
}


.BackTesti {
    background-color: #B0C4DE;
    border: 1px solid black;
    text-align: center;
    margin-top: 30px;
}

.UsuarioLog {
    border-radius: 20px;
    width: 50%;
    margin: 30px;
}

@media (min-width: 768px) {
    .BackTesti {
        margin-top: 50px;
    }
}

.bordesito {
    border: solid 1px black;
    margin-top: 50px;
}


.contenido {
    margin: 30px;

}

.titulo2{
    font-family: 'Edu SA Beginner', cursive;
}
.parrafo3{
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
}
.titulo1{
    font-family: 'Montserrat', sans-serif;

}
.parrafo1{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
.fondo-ciudad {
    background-color: #ffcc00; /* Cambia el color de fondo a tu preferencia usando un valor hexadecimal o nombre de color */
    padding: 5px; /* Opcional: agrega relleno alrededor del texto para que el fondo se vea más destacado */
    color: #ffffff; /* Opcional: cambia el color del texto para que sea legible sobre el fondo */
}
.parrafo2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.fondo{
    background-color:#00A99D;
    border: 1px solid black;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.cuadroComent{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.parrafoComent{
    width: 70%;
}


/*Inicio de seison1.html*/
.fondoPaisaje{
    background-image: url(../img/76.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.imagen1{
    border-radius: 70%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 20px;
}
.bg-white{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Inicio1{
    width: 100%;
    text-align: center;
}

.superpuesta{
    position: absolute;
    top: 46%;
    left: 47%;
    transform: translate(-18%, -125%);
    width: 10%;

}

.contenedor{
    width: 40%;
    margin: 20px auto;
    background-color: white;
    padding: 10px;


}

.forget-password{
    text-decoration: none;
    color: #6c757d;
    font-size: 14px;
    margin-top: 10px;
}
