/* CSS DE VARGAS */
#map { 
    height: 500px;
}

<<<<<<< Updated upstream
=======
.custom-line [stroke] {
    stroke: green !important;
  }

>>>>>>> Stashed changes
.btn-opuesto{
    background-color: #EBA487;
    color : #151515;
}

.btn-custom {
    background-color: #87CEEB; /* Color rojo personalizado */
    /* Otras propiedades de estilo opcionales */
    color : #151515;/* Color de texto */
    /* ... */
  }
label{
   color: #151515;
}
input{
    color: #151515;
}
#map {
    cursor: crosshair;
  }

/* CSS DE CASTAÑEDA */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonios_header {
    margin: 50px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonios_header h2 {
    font-size: 2,9rem;
    font-weight: 500;
    background-color: #87CEEB;
    color: #151515;
    padding: 10px 20px;
    border-radius: 100px;
}

.testimonios_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonios_caja {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.perfil-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.perfil-img img{
    width: 100%;
    height: 100%;
    object-fit: center;
}

.perfil {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.3rem;

}

.reseñas {
    color: #00A99D;

}

.caja-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comentarios_clientes p {
    color: #4b4b4b;
}

.agregarComentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.agregarComentarioHeader {
    margin: 50px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agregarComentarioHeader h1 {
    font-size: 2,9rem;
    font-weight: 500;
    background-color: #87CEEB;
    color: #151515;
    padding: 10px 20px;
    border-radius: 100px;
}

.agregarComentarioContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}



::selection {
    color: white;
    background-color: #252525;
}

/* Ninguna de las imagenes son de mi propiedad, a continuación están los links de los autores

Imágenes en Unsplash: https://unsplash.com/@xps
Logo Dell: https://worldvectorlogo.com/logo/dell-1

*/

/* CSS DE CATAÑO */

:root {
    --dark: #ECEFF1;
    --dark-x: #F5F5E8; 
    --light: #151515;
    ::placeholder { color: black; }
}

body {
    background-color: #ECEFF1;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.text-light { color: var(--light) }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

.img-2 {
    background-image: url('../img/AutobuseseKool.jpg');
    background-size: cover;
    background-position: center;
}

.img-1 {
    background-image: url('../img/Coomotor.jpg');
    background-size: cover;
    background-position: center;
}

.img-3 {
    background-image: url('../img/Flotahuila.jpg');
    background-size: cover;
    background-position: center;
}
.img-4 {
    background-image: url('../img/Cootranshuila.jpg');
    background-size: cover;
    background-position: center;
}

.img-5 {
    background-image: url('../img/Cootransneiva.jpg');
    background-size: cover;
    background-position: center;
}

.logoMenu{
    width: 25%;
}
.logo{
    width: 50%;
}
.logo1{
    width: 20%;
}

/* CSS DE ARIADNA */

.imagen{
    background-color: #B0C4DE;
    width: 80%;
    height: 300px;
}


.circulo{
    background-color: #00A99D;
    border-radius: 50%;
    width: 70%;
    padding-bottom: 70%;
    max-height: 300px;
    margin: auto;
}
 
@media (max-width: 767px) {
    .clasexd {
        margin-left: 0;
        width: 100%;
    }
}


@media (min-width: 768px) {
    .clasexd {
        margin-left: 60px;
        width: 60%;
    }
}

/*CAROUSEL*/
.carousel-img {
    width: 100%;
    margin: 0 auto;
}
  
@media (min-width: 768px) {
    .carousel-img {
        width: 50%;
    }
}


.tituloCarousel{
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 60px;
}

@media only screen and (max-width: 767px) {
    .tituloCarousel {
      font-size: 25px;
    }
  }



.BackTesti {
    background-color: #B0C4DE;
    border: 1px solid black;
    text-align: center;
    margin-top: 30px;
  }
  
  .UsuarioLog {
    background-color: #EBA487;
    border: 1px solid black;
    width: 40%;
    height: 100px;
    margin: 30px;
  }
  
  @media (min-width: 768px) {
    .BackTesti {
      margin-top: 50px;
    }
  }
  
.bordesito{
    border: solid 1px black;
    margin-top: 50px;
}
  

.contenido{
    margin: 30px;
    
}
