{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="agregarComentarioHeader">
                <h1>Contáctanos</h1>
                
                <p>Ponte en contacto con nosotros</p>
            </div>
            <form class="needs-validation" enctype="multipart/form-data" action="/mensajeUsuario/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% if usuario %}
                    <label for="NombreUsuario" class="fw-bold txtNombre mb-2 ml-2" id="txtNombre">Nombre:</label>
                    <input type="text" class="form-control txtNombre mb-4" id="NombreUsuario" name="NombreUsuario" value="{{usuario.usuNombre}}" readonly>
                    {% else %}
                    <label for="NombreUsuario" class="fw-bold mb-2 ml-2" id="txtNombre">Nombre:</label>
                    <input type="text" class="form-control txtNombre mb-4" id="NombreUsuario" name="NombreUsuario" required>
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if usuario %}
                    <label for="emailUsuario" class="fw-bold mb-2 ml-2">Correo electrónico:</label>
                    <input type="email" class="form-control txtCorreo mb-4" id="emailUsuario" name="emailUsuario" value="{{usuario.usuCorreo}}"
                        readonly>
                    {% else %}
                    <label for="emailUsuario" class="fw-bold mb-2 ml-2">Correo electrónico:</label>
                    <input type="email" class="form-control txtCorreo mb-4" id="emailUsuario" name="emailUsuario" required>
                    {% endif %}
                </div>
                <div class="form-group"> 
                    <label for="asuntoUsuario" class="fw-bold mb-2 ml-2">Asunto:</label>
                    <input type="text" class="form-control txtAsunto mb-4" id="asuntoUsuario" name="asuntoUsuario" required>
                </div>
                <div class="form-group">
                    <label for="mensajeUsuario" class="fw-bold mb-2 ml-2">Mensaje:</label>
                    <textarea class="form-control txtMensaje mb-4 " id="mensajeUsuario" name="mensajeUsuario"  cols="35" rows="5" required></textarea>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-inicio">Enviar</button>
                </div>
            </form>
            <script>
            $(document).ready(function(){
              $("form").on("submit", function(event){
                event.preventDefault();
                $.ajax({
                  url: "/mensajeUsuario/",
                  type: "post",
                  data: $(this).serialize(),
                  success: function(response){
                    if(response.estado){
                      Swal.fire('Correo', response.mensaje, 'success');
                        $('#asuntoUsuario').val('');
                        $('#mensajeUsuario').val('');
                    } else {
                      Swal.fire('Correo', response.mensaje, 'error');
                    }
                  }
                });
              });
            });
            </script>
            
        </div>
    </div>
</div>
{% endblock %}
{% block pie_pagina %}
{% include "pie_pagina.html" %}
{% endblock %}