{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}
<div class="row g-0 justify-content-center">
    <div class="col-lg-5 bg-dark d-flex flex-column align-items-end min-vh-50">
        <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100 col-2 text-center">
            <img src="../static/img/Logo Empresa3.0.png" class="img-fluid logo" />
        </div>
        <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
            <h1 class="text-center font-weight-bold mb-4">Registrar cuenta</h1>
            <form action="/registrarCuenta/" class="mb-5" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="exampleNombre" class="form-label font-weight-bold">Nombre Usuario</label>
                    <input type="text" class="form-control border-0 text-light" id="nombreUsuario"
                        placeholder="Ingresa un nombre usuario" name="nombreUsuario" required>
                </div>
                <div class="mb-4">
                    <label for="exampleEmail" class="form-label font-weight-bold">Correo</label>
                    <input type="email" class="form-control border-0 text-light" id="correoUsuario"
                        placeholder="Ingresa un email" name="correoUsuario" required>
                </div>
                <div class="mb-4">
                    <label for="examplePassword" class="form-label font-weight-bold">Contraseña</label>
                    <div class="input-group">
                        <input type="password" class="form-control border-0 mb-2 text-light"
                            placeholder="Ingresa una contraseña" id="passwordUsuario" name="passwordUsuario" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="mostrarContraseña"><i
                                    class="fas fa-eye"></i></button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-custom w-100 bg-dark-y">Crear cuenta</button>
            </form>
            <div>
                {% if mensaje %}
                {% if estado %}
                <script>
                    Swal.fire('Cuenta', '{{mensaje}}', 'success').then(function () {
                        setTimeout(function () {
                            window.location.href = '/inicio/';
                        }, 1000);
                    });
                </script>
                {% else %}
                <script>
                    Swal.fire('Cuenta', '{{mensaje}}', 'error');
                </script>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block pie_pagina %}
{% include "pie_pagina.html" %}
{% endblock %}