{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}
<section>
    <div class="row g-0 justify-content-center">
        <div class="col-lg-5 bg-dark d-flex flex-column align-items-end min-vh-100">
            <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100 col-2 text-center">
                <img src="../static/img/Logo Aplicacion1.png" class="img-fluid logo"/>          
            </div>
            <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
                <h1 class="text-center font-weight-bold mb-4">Registrar cuenta</h1>
                <form class="mb-5">
                    <div class="mb-4">
                        <label for="exampleInputEmail1" class="form-label font-weight-bold">Email</label>
                        <input type="email" class="form-control bg-dark-x border-0 text-light" id="exampleInputEmail1"
                            placeholder="Ingresa tu email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label font-weight-bold">Contraseña</label>
                        <input type="password" class="form-control bg-dark-x border-0 mb-2 text-light"
                            placeholder="Ingresa tu contraseña" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-custom w-100 bg-dark-y">Crear cuenta</button>
                </form>
            </div>
            <div class="text-center">
                <img src="../static/img/Logo Empresa1.png" class="img-fluid logo1">
            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}
{% block pie_pagina %}
{% include "pie_pagina.html" %}
{% endblock %}