<div class="top-bar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <a href="/visualizarRutas/">
                        <!-- <h1>Auto<span>Wash</span></h1> -->
                        <img src="../static/img/Logo Aplicacion3.png" class="img-fluid logoMenu">
                </a>
            </div>
            <div class="col-lg-8 col-md-7 d-none d-lg-block">
                <div class="row">
                    <div class="col-4">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                                <i class="far fa-clock" style="color: white"></i>
                            </div>
                            <div class="top-bar-text">
                                <h3>Horario Rutas</h3>
                                <p>5:30 AM - 7:00 PM</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                                <i class="far fa-envelope" style="color: white"></i>
                            </div>
                            <div class="top-bar-text">
                                <h3>Gmail</h3>
                                <p>bussrutebitcode@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>