<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BussRute</title>
    <link rel="stylesheet" media="all" href="../static/css/style3.css" />
    <link rel="shortcut icon" href="../static/img/Logo Empresa3.1.png" sizes="16x16" type="image/png">
</head>

<body>

    <body>
        <section id="not-found">
            <div class="circles">
                <p>404<br>
                    <small>PÁGINA NO ENCONTRADA</small>
                </p>
                <!-- Aquí es donde agregamos el botón -->
                <div class="button-container">
                    <a href="/inicio/" class="button">Volver a la página principal</a>
                </div>
                <span class="circle big"></span>
                <span class="circle med"></span>
                <span class="circle small"></span>
            </div>
        </section>
    </body>
</body>

</html>