<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BussRute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="shortcut icon" href="../static/img/Logo Empresa3.1.png" sizes="16x16" type="image/png">
    <!-- Inserta el aviso de derechos de autor y el enlace al autor en una parte menos notoria de la página -->
    <style>
        .copyright {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 10px;
            opacity: 0.6;
        }
    </style>
</head>

<body>
    <h5>¡Aviso importante!</h5>
    <h1>5</h1>
    <h1>00</h1>
    <div class="box">
        <span></span><span></span>
        <span></span><span></span>
        <span></span>
    </div>
    <div class="box">
        <span></span><span></span>
        <span></span><span></span>
        <span></span>
    </div>
    <p>Para cambiar tu contraseña, debes hacerlo en la misma ventana del navegador donde lo solicitaste. No se permiten
        cambios desde otros dispositivos, ventanas o navegadores. Esto es por tu seguridad.
        <br />
        <a href="/inicioSesion/">Inicio Sesión</a> Gracias por tu comprensión.
    </p>
    <!-- Coloca el aviso de derechos de autor y el enlace al autor en la página -->
    <div class="copyright">
        &copy; 2021 by <a href="https://codepen.io/adsingh14/pen/jvvOXL" style="color: white;">AMAN</a>
    </div>
</body>

</html>