{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}

{% block contenido %}
<div class="fondoPaisaje">
  <div class="contenedor">
    <div class="my-3">
      <h2 class="Inicio1">WELCOME TO BUUSRUTE</h2>
      <P class="Inicio1">YOUR TEXT GOES HERE</P>
    </div>
    <form class="w-50 mx-auto">
      <div class="d-flex justify-content-center">
        <img src="../static/img/77.jpeg" alt="" class="imagen1">
        <img src="../static/img/bus.png" alt="" class="superpuesta">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="mb-3 form-check d-flex align-items-center">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        <a href="#" class="forget-password ms-auto">Forget-Password</a>

      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary my-3">Submit</button>
      </div>
    </form>
  </div>

</div>




{% endblock %}
