{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}
<br>
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="../static/img/ciudadConBuses.jpg" alt="" class="imagen ">
      </div>

      <div class="col-md-6">
        <h1 class="titulo1">Descubre la <span class="fondo-ciudad">ciudad</span> de una manera más inteligente</h1>
        <p class="parrafo1">Con nuestra aplicación de buses podrás moverte por la ciudad
          de manera más eficiente y sin complicaciones. Planifica tus rutas
          y evita tiempos de espera innecesarios. ¡Descubre una nueva forma de moverte y aprovecha al máximo tu tiempo!
        </p>

      </div>

    </div>
  </div>

  <!---------------------------------------------------->
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-lg-8 col-12">
        <br>
        <div class="clasexd">
          <h1 class="titulo1" style="margin-top: 40px;">BUSSRUTE</h1>
          <p class="parrafo2">Nuestra aplicación de transporte público en Neiva te ofrece la solución
            perfecta para simplificar tu experiencia al usar los autobuses de la ciudad.
            Con nuestra aplicación, podrás acceder de manera fácil y rápida a información en tiempo real
            sobre las diferentes rutas de los autobuses que circulan por Neiva. Gracias a nuestro mapa interactivo,
            podrás visualizar la ubicación de los autobuses y su hora estimada de llegada a cada parada. Además,
            podrás guardar tus rutas favoritas y recibir notificaciones en caso de cambios o retrasos.</p>
        </div>
      </div>

      <div class="col-lg-3 col-12 d-flex justify-content-center align-items-center">
        <div class="circulo"></div>
      </div>

    </div>
  </div>

  <!--CAROUSEL-->
  <div class="container text-center">
    <h1 class="tituloCarousel">Trazando Rutas: Un Vistazo a la Interfaz de Nuestra Aplicación de Buses</h1>
  </div>
  <div id="carouselExample" class="carousel slide container" data-bs-ride="carousel" data-bs-interval="8000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/img/Aplicacion1.jpeg" class="d-block carousel-img" alt="...">
        <h3 class="text-center mt-5">Lorem, ipsum.</h3>
        <p class="col-lg-4 col-md-10 col-sm-12 mx-auto mt-4 text-center"></p>
      </div>
      <div class="carousel-item">
        <img src="../static/img/Aplicacion2.jpeg" class="d-block carousel-img" alt="...">
        <h3 class="text-center mt-5">Lorem, ipsum.</h3>
        <p class="col-lg-4 col-md-10 col-sm-12 mx-auto mt-4 text-center"></p>
      </div>
      <div class="carousel-item">
        <img src="../static/img/Aplicacion3.png" class="d-block carousel-img" alt="...">
        <h3 class="text-center mt-5">Lorem, ipsum.</h3>
        <p class="col-lg-4 col-md-10 col-sm-12 mx-auto mt-4 text-center"></p>
      </div>
      <div class="carousel-item">
        <img src="../static/img/Aplicacion4.jpeg" class="d-block carousel-img" alt="...">
        <h3 class="text-center mt-5">Lorem, ipsum.</h3>
        <p class="col-lg-4 col-md-10 col-sm-12 mx-auto mt-4 text-center"></p>
      </div>
    </div>
  </div>


  <!--Testimonios de ususarios-->
  <!-- <div class="fondo">

  <section class="testimonios">
    <div class="testimonios_header">
      <h2>TESTIMONIOS</h2>
      <br>
    </div> -->
  <!-- Testimonios contenedor -->
  <!-- <div class="testimonios_contenedor"> -->
  <!-- CAJA 1 -->
  <!-- {% for comentario in comentarios %}
      <div class="cuadroComent" onmouseover="resaltar(this)" onmouseout="quitarResalte(this)">
        <div class="testimonios_caja" data-valoracion="{{ comentario.comValoracion }}">
          <div class="caja-top">
            <div class="perfil"> -->
  <!-- Nombre y Usuario -->
  <!-- <div class="name-user">
                <strong>{{ comentario.comUsuario.usuNombre }}</strong>
              </div>

            </div> -->
  <!-- Reseñas -->
  <!-- <div class="reseñas"> -->
  <!-- Corazones se agregarán dinámicamente con jQuery -->

  <!-- </div>
          </div> -->
  <!-- Comentarios -->
  <!-- <div class="comentarios_clientes">
            <p>{{ comentario.comDescripcion }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <br>
    <form action="/agregarComentario/" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="button" id="btnComentar" onclick="redirigir()" class="btn btn-custom">Agregar Comentario</button>
    </form>

  </section>

  <script>
    $(document).ready(function () {
      $('.testimonios').each(function () {
        const valoracion = $(this).data('valoracion');
        const reseñasContainer = $(this).find('.reseñas');

        for (let i = 1; i <= 5; i++) {
          if (i <= valoracion) {
            reseñasContainer.append('<i class="fa fa-heart hearto"></i>');
          } else {
            reseñasContainer.append('<i class="fa fa-heart hearti"></i>');
          }
        }
      });
    });
  </script> -->

</div>
<br>
<hr>
<div class="testimonial">
  <div class="container">
    <div class="testimonios_header mt-1">
      <h2>Comentarios</h2>
    </div>
    <div class="owl-carousel testimonials-carousel">
      {% for comentario in comentarios %}
      <div class="testimonial-item">
        <!-- <img src="" alt="Image"> -->
        <div class="testimonial-text testimonios" data-valoracion="{{ comentario.comValoracion }}">
          <h3 class="name-user">{{ comentario.comUsuario.usuNombre }}</h3>
          <h4>Ruta</h4>
          <div class="reseñas">
            <!-- Mostrar el ícono del bote de basura solo para el usuario actual -->
          </div>
          
          <p>
            {{ comentario.comDescripcion }}
          </p>
        </div>
        {% if comentario.comUsuario.id == usuario.id %}
              
              <a href="/consultarComentario/{{comentario.id}}/"><i class="fa fa-edit text-warning mr-2"></i></a>
              <i class="fa fa-trash text-danger"  onclick="eliminarComentario('{{ comentario.id }}')"></i>
            {% endif %}
      </div>
    </div>
  </div>
  <!-- <div class="testimonios_header">
    <h2>TESTIMONIOS</h2>
  </div>
  <div class="swiper mySwiper container">
    <div class="swiper-wrapper content">
      {% for comentario in comentarios %}
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="testimonios" data-valoracion="{{ comentario.comValoracion }}">
            <div class="name-user">
              <span class="name">{{ comentario.comUsuario.usuNombre }}</span>
            </div>
            <div class="reseñas">
               Corazones se agregarán dinámicamente con jQuery 
            </div>
            <div class="comentarios_clientes">
              <span class="descripcion">{{ comentario.comDescripcion }}</span>
            </div>
            <div class="media-icons">

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <br>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination"></div>
  </div> -->

  <script>
    $(document).ready(function () {
      $('.testimonios').each(function () {
        const valoracion = $(this).data('valoracion');
        const reseñasContainer = $(this).find('.reseñas');

        for (let i = 1; i <= 5; i++) {
          if (i <= valoracion) {
            reseñasContainer.append('<i class="fa fa-heart hearto"></i>');
          } else {
            reseñasContainer.append('<i class="fa fa-heart hearti"></i>');
          }
        }
      });
    });
  </script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      centeredSlides: false,
      slidesPerGroupSkip: 1,
      grabCursor: true,
      keyboard: {
        enabled: true,
      },
      breakpoints: {
        769: {
          slidesPerView: 1,
          slidesPerGroup: 1,
        },
      },
      scrollbar: {
        el: ".swiper-scrollbar",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
  <hr>
  {% comment %} <div class="fondo">
    <div class="cuadroComent" onmouseover="resaltar(this)" onmouseout="quitarResalte(this)">
      <img src="../static/img/comentPerson.jpeg" alt="" class="UsuarioLog">
      <p class="parrafoComent">Una aplicación imprescindible para los viajeros diarios como yo!
        La función de planificación de rutas me ha ahorrado mucho tiempo y esfuerzo al encontrar
        la mejor manera de llegar a mi destino. ¡Funciona de maravilla!</p>
    </div>


    <div class="cuadroComent" onmouseover="resaltar(this)" onmouseout="quitarResalte(this)">
      <img src="../static/img/persona2.jpeg" alt="" class="UsuarioLog">
      <p class="parrafoComent">¡Me encanta cómo esta aplicación me mantiene informado sobre los horarios de los
        autobuses!
        Ahora nunca llego tarde a mis citas o reuniones importantes. Es como tener un asistente de viaje personal en mi
        bolsillo.</p>
    </div>


    <div class="cuadroComent" onmouseover="resaltar(this)" onmouseout="quitarResalte(this)">
      <img src="../static/img/persona3.jpeg" alt="" class="UsuarioLog">
      <p class="parrafoComent">Me encanta la función de comentarios y sugerencias en la aplicación.
        Es genial saber que mi opinión importa y que la aplicación sigue mejorando gracias a las actualizaciones
        frecuentes.</p>
    </div>
  </div> {% endcomment %}

  <!---CALL ACTION-->
  <div class="container">
    <div class="bordesito">
      <div class="contenido text-center">
        <h1>Descarga nuestra app ahora</h1>
        <p>¿Listo para una experiencia increíble? ¡Descarga nuestra aplicación ahora y descubre la forma más sencilla de
          estar siempre conectado con lo que más te importa!</p>
      </div>
    </div>
  </div>
  <br>
{% endblock %}
{% block pie_pagina %}
{% include "pie_pagina.html" %}
{% endblock %}