<div class="nav-bar">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a href="#" class="navbar-brand">MENU</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="/inicio/" class="nav-item nav-link active">Inicio</a>
          <a href="/visualizarRutas/" class="nav-link">Rutas</a>
          <a href="/contacto/" class="nav-item nav-link">Contacto</a>
          {% if usuario %}
          {% if usuario.usuRol_id == 1 %}
          <a type="button" onclick="hacerGrafica()" class="nav-link">Gráficas</a>
          <a href="/vistaRegistrarRuta/" class="nav-link">Registrar Rutas</a>
          <a href="/listaRutas/" class="nav-link">Listar Rutas</a>
          {% endif %}
          {% endif %}
        </div>
        <div class="navbar-nav user">
          {% if usuario %}
          <span class="nav-item nav-link">¡Hola! {{ usuario.usuNombre }}</span>
          <a class="nav-item nav-link" href="/cerrarSesion/">Cerrar sesión</a>
          {% else %}
          <a href="/inicioSesion/" class="nav-item nav-link">Iniciar Sesion</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </div>
</div>