{% load static %}
<div class="footer" id="contacto">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-contact">
          <img src="{% static '../static/img/Logo Empresa2.png'%}" class="img-fluid logo1">
          <p><i class="fa fa-envelope"></i>bitcodebussines@gmail.com</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-link">
          <h2>Popular Links</h2>
          <a href="/visualizarRutas/">Rutas</a>
          <a href="/contacto/">Contacto</a>
          <a href="/manual/">Manual</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-link">
          <h2>Useful Links</h2>
          <a href="">Terms of use</a>
          <a href="">Privacy policy</a>
          <a href="">Cookies</a>
          <a href="">Help</a>
          <a href="">FQAs</a>
        </div>
      </div>
    </div>
  </div>
<div class="copyright" style="background-color: #6f7fe2; width: 100%; text-align: center; padding-top: 40px;">
    <p>© <a href="#">BussRute</a> Derechos reservados de BitCode</p>
</div>
</div>