{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}
<div class="row g-0 justify-content-center">
    <div class="col-lg-5 bg-dark d-flex flex-column align-items-end min-vh-50">
        <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100 col-2 text-center">
            <img src="../static/img/Logo Empresa3.0.png" class="img-fluid logo" />
        </div>
        <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
            <h1 class="text-center font-weight-bold mb-4">Verificar Correo</h1>
            <form action="/enviarVerificacionCorreo/" class="mb-5" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="exampleVerificacion" class="form-label font-weight-bold">Codigo de Verificación</label>
                    <input type="number" class="form-control border-0 text-light" id="codigoVerifi"
                        placeholder="Ingresa el codigo de Verificación" name="codigoVerifi" required>
                </div>
                <div class="d-flex"> <!-- Div para los botones -->
                    <button class="btn btn-inicio flex-grow-1 bg-dark-y mr-2">Continuar</button>
                    <!-- Agrega este botón en la página de verificaciónCorreo.html -->
                    <button class="btn btn-inicio flex-grow-1" id="btnCancelar">Cancelar verificación</button>
                </div>

                <!-- Agrega el script de SweetAlert2 para la confirmación -->
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        // Agrega un evento clic al botón "Salir"
                        document.getElementById('btnCancelar').addEventListener('click', function () {
                            Swal.fire({
                                title: '¿Estás seguro?',
                                text: 'Si sales ahora, tu cuenta no se verificará. ¿Seguro que deseas salir?',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Sí, salir',
                                cancelButtonText: 'No, quedarme'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    // Elimina la variable de sesión y redirige al usuario a la página de inicio
                                    fetch('/eliminarSesionRegistro/', {
                                        method: 'POST',
                                        headers: {
                                            'X-CSRFToken': '{{ csrf_token }}'  // Asegúrate de incluir el token CSRF
                                        }
                                    }).then(function () {
                                        window.location.href = '/inicio/';
                                    });
                                }
                            });
                        });
                    });
                </script>

            </form>
            <div>
                {% if mensaje %}
                {% if estado %}
                <script>
                    Swal.fire('Cuenta', '{{mensaje}}', 'success').then(function () {
                        setTimeout(function () {
                            window.location.href = '/inicio/';
                        }, 1000);
                    });
                </script>
                {% else %}
                <script>
                    Swal.fire('Cuenta', '{{mensaje}}', 'error');
                </script>
                {% endif %}
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block pie_pagina %}
{% include "pie_pagina.html" %}
{% endblock %}