{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block contenido %}
<br>
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="imagen"></div>
        </div>

        <div class="col-md-6">
            <div class="separar-izquierda">
            <h1>Descubre la ciudad de una manera más inteligente</h1>
            <p>Con nuestra aplicación de buses podrás moverte por la ciudad 
            de manera más eficiente y sin complicaciones. Planifica tus rutas 
            y evita tiempos de espera innecesarios. ¡Descubre una nueva forma de moverte y aprovecha al máximo tu tiempo!</p>

            </div>
        </div>

        </div>
    </div>
        
    <!---------------------------------------------------->
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-12">
        <br>
        <div class="clasexd">
            <h1>BUSSRUTE</h1>
            <p>Nuestra aplicación de transporte público en Neiva te ofrece la solución 
            perfecta para simplificar tu experiencia al usar los autobuses de la ciudad. 
            Con nuestra aplicación, podrás acceder de manera fácil y rápida a información en tiempo real 
            sobre las diferentes rutas de los autobuses que circulan por Neiva. Gracias a nuestro mapa interactivo, 
            podrás visualizar la ubicación de los autobuses y su hora estimada de llegada a cada parada. Además, 
            podrás guardar tus rutas favoritas y recibir notificaciones en caso de cambios o retrasos.</p>
        </div>
        </div>

        <div class="col-lg-4 col-12">
        <div class="circulo"></div>
        </div> 
        
    </div>
    </div>

    <!--CAROUSEL-->
    <div class="container text-center">
    <h1 class="tituloCarousel">Lorem ipsum dolor sit amet.</h1>
    </div>
    <div id="carouselExample" class="carousel slide container" data-bs-ride="carousel" data-bs-interval="8000">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="../static/img/Img1.jpg" class="d-block carousel-img" alt="...">
        <h3 class="text-center mt-5">Lorem, ipsum.</h3>
        <p class="col-lg-4 col-md-10 col-sm-12 mx-auto mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit dolor deserunt, sequi eum modi, labore magnam aliquid qui voluptatem aperiam totam impedit cupiditate repellendus optio maxime laboriosam ad consectetur commodi.</p>
        </div>
        <div class="carousel-item">
        <img src="../static/img/Img2.jpg" class="d-block carousel-img" alt="...">
        <h3 class="text-center mt-5">Lorem, ipsum.</h3>
        <p class="col-lg-4 col-md-10 col-sm-12 mx-auto mt-4 mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit dolor deserunt, sequi eum modi, labore magnam aliquid qui voluptatem aperiam totam impedit cupiditate repellendus optio maxime laboriosam ad consectetur commodi.</p>
        </div>
        <div class="carousel-item">
        <img src="../static/img/Img3.jpg" class="d-block carousel-img" alt="...">
        <h3 class="text-center mt-5">Lorem, ipsum.</h3>
        <p class="col-lg-4 col-md-10 col-sm-12 mx-auto mt-4 mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit dolor deserunt, sequi eum modi, labore magnam aliquid qui voluptatem aperiam totam impedit cupiditate repellendus optio maxime laboriosam ad consectetur commodi.</p>
        </div>
        <div class="carousel-item">
        <img src="../static/img/Img4.jpg" class="d-block carousel-img" alt="...">
        <h3 class="text-center mt-5">Lorem, ipsum.</h3>
        <p class="col-lg-4 col-md-10 col-sm-12 mx-auto mt-4 mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit dolor deserunt, sequi eum modi, labore magnam aliquid qui voluptatem aperiam totam impedit cupiditate repellendus optio maxime laboriosam ad consectetur commodi.</p>
        </div>
        <div class="carousel-item">
        <img src="../static/img/Img5.jpg" class="d-block carousel-img" alt="...">
        <h3 class="text-center mt-5">Lorem, ipsum.</h3>
        <p class="col-lg-4 col-md-10 col-sm-12 mx-auto mt-4 mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit dolor deserunt, sequi eum modi, labore magnam aliquid qui voluptatem aperiam totam impedit cupiditate repellendus optio maxime laboriosam ad consectetur commodi.</p>
        </div>
    </div>
    </div>


    <!--Testimonios de ususarios-->
    <div class="container">
    <div class="row flex-wrap justify-content-center">
        <div class="col-md-8 col-lg-4 d-flex">
        <div class="BackTesti">
            <div class="UsuarioLog mx-auto"></div>
            <p class="mx-4 mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque dicta iure voluptatum repudiandae ex ad dolor provident culpa! Expedita nesciunt optio minus officiis nemo minima nostrum perspiciatis sed, quis necessitatibus.</p>
        </div>
        </div>

        <div class="col-md-8 col-lg-4 d-flex">
        <div class="BackTesti">
            <div class="UsuarioLog mx-auto"></div>
            <p class="mx-4 mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque dicta iure voluptatum repudiandae ex ad dolor provident culpa! Expedita nesciunt optio minus officiis nemo minima nostrum perspiciatis sed, quis necessitatibus.</p>
        </div>
        </div>

        <div class="col-md-8 col-lg-4 d-flex">
        <div class="BackTesti">
            <div class="UsuarioLog mx-auto"></div>
            <p class="mx-4 mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque dicta iure voluptatum repudiandae ex ad dolor provident culpa! Expedita nesciunt optio minus officiis nemo minima nostrum perspiciatis sed, quis necessitatibus.</p>
        </div>
        </div>
        </div>
    </div>

    <!---CALL ACTION-->
    <div class="container">
        <div class="bordesito">
        <div class="contenido text-center">
            <h1>Lorem, ipsum dolor.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, iure sed? Voluptate dolorem nulla repudiandae distinctio porro quo quidem voluptatum et. Quis, atque tempora! Officiis enim veritatis minima iste neque!</p>

        </div>
        
        </div>

    </div>
<br>
{% endblock %}
{% block pie_pagina %}
    {% include "pie_pagina.html" %}
{% endblock %}